template(name="Landing")
  .Landing.panel-body
    h1.h3 {{_i18n.title}}
    .row.breathe
      .col-md-6.col-xs-12
        p Get <strong>analytics</strong> and <strong>backup</strong> for you Bitly links by exporting them to Google Spreadsheet.
        ul.fa-ul
          li
            .fa-li.fa.fa-check
            | Enjoy automatic daily export
          li
            .fa-li.fa.fa-check
            | Trigger export manually anytime
          li
            .fa-li.fa.fa-check
            | No programming required <i>(we already did that part :) )</i>
        p
          a(href="{{url}}/recipes").btn.btn-primary.btn-lg.cta Run export now
      .col-md-6.col-xs-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='//www.youtube.com/embed/OCWj5xgu5Ng?rel=0', allowfullscreen='')
    .row.breathe
      .col-sm-4.col-xs-12.text-center
        p
          img(src="/packages/foundation/public/images/icons/ballicons/browser.png")
        p <strong>Connect Bitly and Google accounts</strong> <br /> to kickstart the export process
      .col-sm-4.col-xs-12.text-center
        p
          img(src="/packages/foundation/public/images/icons/ballicons/clock.png")
        p <strong>Enable automatic export</strong> <br /> to Google Spreadsheet
      .col-sm-4.col-xs-12.text-center
        p
          img(src="/packages/foundation/public/images/icons/ballicons/wine.png")
        p <strong>See your data appear</strong> <br /> on the first sheet. Celebrate!
    .row.breathe
      .col-xs-12
        .text-center
          p
            a(href="{{url}}/recipes").btn.btn-default.btn-lg.cta Setup export tool
    .row.breathe
      .col-xs-12
        .brands.text-center
          img(src="/packages/main/public/images/bitly.png")
          img(src="/packages/main/public/images/google-spreadsheets.png")
