template(name="Landing")
  .Landing.panel-body
    h1.h3 {{_i18n.title}}
    .row.breathe
      .col-md-6.col-xs-12
        p Shorten multiple URLs at once using this helpful tool.
        ul.fa-ul
          li
            .fa-li.fa.fa-check
            | Works fast
          li
            .fa-li.fa.fa-check
            | Setup in minutes
          li
            .fa-li.fa.fa-check
            | No programming required <i>(we already did that part :) )</i>
        p
          a(href="{{url}}/recipes").btn.btn-primary.btn-lg.cta Start shortening now
      .col-md-6.col-xs-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='//www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen='')
    .row.breathe
      .col-sm-4.col-xs-12.text-center
        p
          img(src="/packages/foundation/public/images/icons/ballicons/browser.png")
        p <strong>Paste long URLs</strong> <br /> into Google Spreadsheet
      .col-sm-4.col-xs-12.text-center
        p
          img(src="/packages/foundation/public/images/icons/ballicons/clock.png")
        p <strong>Run Bitly Fox bulk shortener</strong> <br /> on the same Google Spreadsheet
      .col-sm-4.col-xs-12.text-center
        p
          img(src="/packages/foundation/public/images/icons/ballicons/wine.png")
        p <strong>See short URLs appear</strong> <br /> in the next column. Celebrate!
    .row.breathe
      .col-xs-12
        .text-center
          p
            a(href="{{url}}/recipes").btn.btn-default.btn-lg.cta Open bulk shortener
    .row.breathe
      .col-xs-12
        .brands.text-center
          img(src="/packages/main/public/images/bitly.png")
          img(src="/packages/main/public/images/google-spreadsheets.png")
